<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7cef652d-06a6-4a2b-a21c-7a4f51d1f44f/resourceGroups/HelloCampus02/providers/Microsoft.Web/sites/EasyCreditCardService2</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://easycreditcardservice2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>easycreditcardservice2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EasyCreditCardService2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EasyCreditCardService2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>